#code_table input, #code_table textarea {
  border: 0 !important;
  color: var(--text-color);
  }
  summary {
  cursor: pointer;
  }
  table {
  border-collapse: collapse;
  margin: 5px auto;
  }
  
  /* Table header styling */
  th, td {
  padding: 10px;
  }
  
  /* Zebra striping for rows */
  /* tbody tr:nth-child(odd) {
  background-color: var(--row-odd-bg);
  } */
  
  /* Hover effect for rows */
  
  #code_table INPUT {
  background-color: transparent !important;
  text-align: center;
  }
  #code_table textarea {
  background-color: transparent !important;
  }
  .btn {
  font-weight: normal;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  }
  
  .btn-copy {
  margin-right: 10px;
  }
  .btn-red {
  color: white;
  background-color: #f44336;
  }
  #new-code INPUT, #batch-code INPUT {
  padding: 5px;
  border-radius: 5px;
  }
  #new-code textarea, #batch-code textarea {
  padding: 5px;
  border-radius: 5px;
  }
  #expired_codes {
  margin-top: 20px;
  margin-bottom: 200px;
  }
  .table-margin {
  margin-top: 10px;
  margin-bottom: 10px;
  }
  .details {
  width: min-content;
  margin: 10px auto;
  padding: 10px;
  }
  .column-short {
  width: 50px;
  }
  .column-medium {
  width: 120px;
  }
  